<div class="row">

  <div class="col-md-4 mb-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">

          <i class="bi bi-house-fill mr-3 display-4 separar"></i>
          <div>
            <h5 class="card-title">Rooms</h5>
            <p class="card-text display-4">{{habitaciones.length-1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card bg-success text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <i class="bi bi-people-fill mr-3 display-4 separar"></i>
          <div>
            <h5 class="card-title">Users</h5>
            <p class="card-text display-4">{{users.length-1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card bg-warning text-dark">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <i class="bi bi-calendar3-fill mr-3 display-4 separar"></i>
          <div>
            <h5 class="card-title">Reservations</h5>
            <p class="card-text display-4">{{reservations.length-1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ngx-charts-bar-vertical style="font-size: 30px; color: white;"

  [view]="[1024, 400]"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle">

  </ngx-charts-bar-vertical>


</div>
