.carta{
  background-color: #1c1f21;
  color: var(--text-color-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #000000;
}

.boton{
  background-color: var(--link-color);
  border-radius:2px;
  border-style: inherit;
}
