:host {
  --background-color-dark: #212a2e;
  --text-color-dark: #F7F8F8;
  --link-color-dark: #828fff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Fondo transparente con difuminado */
  z-index: 1050; /* Asegura que el modal esté por encima de otros elementos */
}

.formulario{
  width: 50%; /* Ancho del 50% de la pantalla */
  height: 400; /* Alto de 300px */
  margin: 0 auto; /* Margen izquierdo y derecho en auto */
  position: absolute; /* Posición absoluta */
  top: 50%; /* Posición vertical en el 50% de la pantalla */
  left: 50%; /* Posición horizontal en el 50% de la pantalla */
  transform: translate(-50%, -50%); /* Ajusta el margen para compensar el ancho y alto del contenedor */
  background-color: #1c1f21; /* Fondo blanco */
  padding: 20px; /* Espacio entre el contenido y el borde */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efecto de sombra para dar profundidad */
  border-bottom: 2px solid #000000;
}
