<div class="row">


    <div class="card bg-dark text-white" *ngFor="let item of reservations">

      <div class="card-body">

        <div class="row">

          <div class="col-2">
            <h5 class="card-title">Username: {{this.getUsernameForReservation(item.id_cliente)}}</h5>
          </div>

          <div class="col-2">
            <h5 class="card-title">CheckIn: {{item.fecha_entrada}}</h5>
          </div>
          <div class="col-2">
            <h5 class="card-title">OutDate: {{item.fecha_salida}}</h5>
          </div>

          <div class="col-2">
            <h5 class="card-title">Price: {{item.preciototal}} USD</h5>
          </div>

          <div class="col-2 botones d-flex">

            <button (click)="deleteReservation(item.id,item.id_habitacion)" class="bg-danger"> Cancel</button>

            <button (click)="editReservation(item)"class="bg-info"> Edit</button>

          </div>

        </div>

      </div>



  </div>

</div>
